<div class="hero">
	<h1 class="hero__title">Conventrix v.1.0.0 - Contact Information</h1>
	<p class="hero__description">Take your markdown notes in terminal</p>
</div>
<div class="hero__terminal">
	<pre>
				<code class="shell-session demo"><span class="hljs-attribute">conventrix v.1.0.0</span> <span class="hljs-regexp">~ $</span> 
					contact_info.md
				            [Entry mode; press Ctrl+D to save and quit; press Ctrl+C to quit without saving]
				
				            ### The programmer of this application is Ádám Dr. Porkoláb.<br> You can contact him by his webpage: <a
										href="https://www.porkolab.digital">https://www.porkolab.digital</a>
				
				            - The GitHub page of the author: <a href="https://github.com/APorkolab/">https://github.com/APorkolab/</a>
				           </code>
				</pre>
</div>