<div class="wrapper">
	<div class="keybinding">
		<ul class="keybinding__detail">
			<h3 class="keybinding__title">Convert...</h3>
			<!-- <li><span class="keybinding__label">Quantity</span></li> -->
			<label for="quantity" class="keybinding__label">Quantity:</label><br>
			<input type="number" [(ngModel)]="quantity" value="1" id="quantity" name="quantity" min="1" required
				placeholder="Enter the quantity you would like to convert"><br>
			<select [(ngModel)]="firstItem">

				<option class="keybinding__label" *ngFor="let obj of this.listOfAllCard" [value]="obj.id">{{obj.nameEnglish}}
				</option>
				<option selected hidden [selected]="ngSelect1">
				</option>
			</select>
			<!-- <li>Undo <span class="keybinding__label">Cmd+Z</span></li> -->
		</ul>

		<ul class="keybinding__detail">
			<label for="property" class="keybinding__label">by the </label><br>
			<select [(ngModel)]="property">
				<option value="length" selected [selected]="'length'">length</option>
				<option value="weight">weight</option>
			</select>
			<li> <span class="keybinding__label">property</span></li>
		</ul>

		<ul class="keybinding__detail">
			<h3 class="keybinding__title">into</h3>
			<select [(ngModel)]="secondItem">
				<!-- onChange="compareItems(item1,item2,property);" -->
				<!-- <option [selected]="obj[0]">
					Select the item you want to convert to
				</option> -->
				<option class="keybinding__label" *ngFor="let obj of this.listOfAllCard" [value]="obj.id">{{obj.nameEnglish}}
				</option>
			</select>
		</ul>
	</div>
	<div class="callout">
		<p>Read our documentation for advanced keybindings and customization</p>
		<a class="button--primary" (click)="compareItems(firstItem,secondItem,property, quantity)">Documentation</a>
	</div>

	<div class="hero">
		<h1 class="hero__title">Scribbler</h1>
		<p class="hero__description">Take your markdown notes in terminal</p>
	</div>
	<div class="hero__terminal">
		<pre>        <!-- Place your demo code here -->
	        <code class="shell-session demo hljs nginx"><span class="hljs-attribute">hyperyolo</span> <span class="hljs-regexp">~ $</span> {{finalResult}}</code>
	      </pre>
	</div>
</div>