<form class="wrapper" (submit)="$event.preventDefault()">
  <section class="keybinding">
    <ul class="keybinding__detail">
      <h3 class="keybinding__title">Convert…</h3>

      <label for="quantity" class="keybinding__label">Quantity</label>
      <input id="quantity" name="quantity" type="number" min="1" required
        placeholder="Enter the quantity you would like to convert" [ngModel]="quantity"
        (ngModelChange)="updateQuantity($event)" />

      <label for="from" class="keybinding__label">From item</label>
      <select id="from" name="from" [ngModel]="firstElement"
        (ngModelChange)="firstElement = $event; setFrom($event?.id ?? null)">
        <option [ngValue]="null" class="keybinding__label">
          {{ selectFromPlaceholder }}
        </option>
        <option *ngFor="let obj of listOfAllCard" [ngValue]="obj" class="keybinding__label">
          {{ obj.nameEnglish }}
        </option>
      </select>
    </ul>

    <ul class="keybinding__detail">
      <label for="property" class="keybinding__label">by the</label>
      <select id="property" name="property" [(ngModel)]="property" (ngModelChange)="recompute()">
        <option [ngValue]="null" class="keybinding__label">Select</option>
        <option class="keybinding__label" value="length">length</option>
        <option class="keybinding__label" value="weight">weight</option>
      </select>
      <li><span class="keybinding__label">property</span></li>
    </ul>

    <ul class="keybinding__detail">
      <h3 class="keybinding__title">into…</h3>

      <label for="to" class="keybinding__label">To item</label>
      <select id="to" name="to" [ngModel]="secondElement"
        (ngModelChange)="secondElement = $event; setTo($event?.id ?? null)">
        <option [ngValue]="null" class="keybinding__label">
          {{ selectToPlaceholder }}
        </option>
        <option *ngFor="let obj of listOfAllCard" [ngValue]="obj" class="keybinding__label">
          {{ obj.nameEnglish }}
        </option>
      </select>
    </ul>
  </section>

  <section class="hero">
    <h1 class="hero__title">
      The Convertrix calculates the weights and lengths of weird elements
    </h1>
    <p class="hero__description">Also relative to each other</p>
  </section>

  <section class="hero__terminal" *ngIf="firstElement && secondElement && property">
    <pre>
<code class="shell-session demo hljs nginx">
<span class="hljs-attribute">Convertrix v.1.0.0</span> <span class="hljs-regexp">~ $ </span>{{ quantity }} {{ firstElement.nameEnglish }}(s) {{ property }} the same as {{ finalResult | number:'1.2-4' }} {{ secondElement.nameEnglish }}(s).

<br><br><span class="hljs-attribute">By the way... Do you know?</span> <span class="hljs-regexp">~ $ </span><br> {{ firstElement.description }}
</code>
    </pre>
  </section>
</form>