<div class="wrapper">
	<div class="feature">
		<div class="feature__item">
			<h3 class="section__title">Weird knowledge about Effiel tower</h3>
			<p>Does Effiel tower weigh a lot of hand grenades? How much precisely?</p>
		</div>
		<div class="feature__item">
			<h3 class="section__title">Convertrix v.1.0.0</h3>
			<p>Start writing your notes immediately in any terminal! No more time wasted on navigating and opening your text
				editor.</p>
		</div>
		<div class="feature__item">
			<h3 class="section__title">Weird knowledge about money</h3>
			<p>To reach the top of the Great Pyramid of Giza, how many concert pianos must be stacked? How much precisely?</p>
		</div>
		<div class="feature__item">
			<h3 class="section__title">Weird knowledge about Jupiter</h3>
			<p>What is the weight of Jupiter in millions of dollars? How much precisely?</p>
		</div>
		<div class="feature__item">
			<h3 class="section__title">Let's find it out!</h3>
			<p>Finally, you have a tool to answer these questions! Just click on the "Game" item on the navbar.</p>
		</div>
		<div class="feature__item">
			<h3 class="section__title">Weird knowledge about Internet</h3>
			<p>When compared to the weight of an average American, how heavy is the Internet? How much precisely?</p>
		</div>
	</div>

	<img src="../../../assets/img/Convertrix2.png" width="300">
</div>